<h1>INDEX RESTAURANT</h1><br>
<body>
  <ul>
    <% @restaurants.each do |restaurant| %>
      <li><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
      <%= link_to 'New restaurant', new_restaurant_path(restaurant) %>
      <%= link_to 'Show', restaurant %>
    <% end %>
  </ul>
</body>