<div class="container">
  <div class="row">
  <div class='col-6 offset-3'>
    <%= simple_form_for [ @restaurant, @review ] do |f| %>
      <%= f.input :content, placeholder: "Write your review here" %>
      <%= f.input :rating, placeholder: "Add a rating (1-5)"%>
      <%= f.submit "Submit review", class: "btn btn-primary" %>
    <% end %>
    </div>
  </div>
</div>